.visited-container {
  width: 24%;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #334155;
}

.country-img {
  width: 100%;
}

.name-remove-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.name {
  color: #f1f5f9;
  font-size: 15px;
  font-family: 'Roboto';
  margin: 0px;
}

.remove {
  border: 0px;
  color: #cbd5e1;
  border: 1px solid #cbd5e1;
  background-color: transparent;
  padding: 5px;
  font-size: 13px;
  font-family: 'Roboto';
  border-radius: 5px;
  cursor: pointer;
}
